{{!-- Seleccionar candidato --}}
<div class="row">
  <div class="col-md-6">
    {{one-way-select perfilUno
        class="form-control"
        options=model.profiles
        optionValuePath="id"
        optionLabelPath="nombre"
        update=(action (mut perfilUno))
    }}
  </div>
  <div class="col-md-6">
    {{one-way-select perfilDos
        class="form-control"
        options=model.profiles
        optionValuePath="id"
        optionLabelPath="nombre"
        update=(action (mut perfilDos))
    }}
  </div>
</div>

{{!-- Biografía --}}
<div class="row frente-a-frente">
  <div class="col-12">
    <div class="panel">
      <div class="header d-flex">
        <img src="img/icono-biografia.png" alt="Biografía">
        <h3>Biografía</h3>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-md-6">
            <p>
              {{availableInfoUno.biography}}
            </p>
            <small class="text-muted">{{perfilUno.nombre}}</small>
          </div>
          <div class="col-md-6">
            <p>
              {{availableInfoDos.biography}}
            </p>
            <small class="text-muted">{{perfilDos.nombre}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- experienciaAcadémica --}}
<div class="row frente-a-frente">  
  <div class="col-12">
    <div class="panel">
      <div class="header d-flex">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Experiencia Académica</h3>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-md-6">
            <p>
              {{availableInfoUno.experienciaAcadémica}}
            </p>
            <small class="text-muted">{{perfilUno.nombre}}</small>
          </div>
          <div class="col-md-6">
            <p>
              {{availableInfoDos.experienciaAcadémica}}
            </p>
            <small class="text-muted">{{perfilDos.nombre}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- historialPolítico --}}
<div class="row frente-a-frente">
  <div class="col-12">
    <div class="panel">
      <div class="header d-flex">
        <img src="img/icono-historial-politico.png" alt="Icono cargo">
        <h3>Historial Político</h3>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-md-6">
            <p>
              {{availableInfoUno.historialPolítico}}
            </p>
            <small class="text-muted">{{perfilUno.nombre}}</small>
          </div>
          <div class="col-md-6">
            <p>
              {{availableInfoDos.historialPolítico}}
            </p>
            <small class="text-muted">{{perfilDos.nombre}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
